<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.DiscussionMapper">
	<insert id="addDiscussion">
		INSERT INTO discussion_table(user, time, title, content, course)
		VALUES(#{posterId}, #{postTime}, #{title}, #{content}, #{courseId})
	</insert>
	
	<delete id="deleteDiscussion">
		DELETE FROM discussion_table
		WHERE id=#{id}
	</delete>
	
	<update id="updateDiscussionTitle">
		UPDATE discussion_table
		SET title=#{title}
		WHERE id=#{id}
	</update>
	
	<update id="updateDiscussionContent">
		UPDATE discussion_table
		SET content=#{content}
		WHERE id=#{id}
	</update>
	
	<select id="queryDiscussionByCourse" resultMap="discussion">
		SELECT *
		FROM discussion_extend
		WHERE course=#{courseId}
	</select>
	
	<select id="queryDiscussionByCourseAndTitle" resultMap="discussion">
		SELECT *
		FROM discussion_extend
		WHERE course=#{courseId} AND title LIKE "%"#{title}"%"
	</select>
	
	<select id="queryDiscussionByPoster" resultMap="discussion">
		SELECT *
		FROM discussion_extend
		WHERE user_id=#{posterId}
	</select>
	
	<resultMap type="Discussion" id="discussion">
		<id column="id" property="discussionId"/>
		<result column="user_id" property="posterId"/>
		<result column="user_name" property="posterName"/>
		<result column="course" property="courseId"/>
		<result column="time" property="postTime"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="reply_count" property="replyCount"/>
	</resultMap>
	
	<select id="queryDiscussion" resultMap="discussion">
		SELECT *
		FROM discussion_extend
		WHERE id=#{id}
	</select>
	
</mapper>