<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.HomeworkMapper">

	
	<insert id="addHomework">
		INSERT INTO homework_table (user,title,content,deadline,time,course)
		VALUES(#{userId},#{title},#{content},#{deadline},#{time},#{course});
	</insert>
</mapper>