<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.ReplyMapper">
	<insert id="addReply">
		INSERT INTO reply_table(discussion_id, user, content)
		VALUES(#{discussion},#{poster_id},#{content})
	</insert>
	
	<delete id="deleteReply">
		DELETE FROM reply_table 
		WHERE id=#{id}
	</delete>
	
	<select id="queryReplyByDiscussion" resultMap="reply">
		SELECT
		r.id as id,
		r.discussion_id as discussion,
		r.user as user_id,
		u.name as user_name,
		r.time as time,
		r.content as content
		FROM user_table u,reply_table r
		WHERE r.discussion_id=#{discussion} and u.id=r.user
	</select>
	<resultMap id="reply" type="Reply">
		<id column="id" property="id"/>
		<result column="discussion" property="replyDiscussion"/>
		<result column="user_id" property="posterId"/>
		<result column="user_name" property="posterName"/>
		<result column="time" property="time"/>
		<result column="content" property="content"/>
	</resultMap>
</mapper>