<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.ReplyMapper">

	<insert id="addReply">
		INSERT INTO reply_table(discussion_id, user, content, time)
		VALUES(#{discussionId},#{posterId},#{content}, #{time})
	</insert>
	
	<delete id="deleteReply">
		DELETE FROM reply_table 
		WHERE id=#{id}
	</delete>
	
	<select id="queryReplyByDiscussion" resultMap="reply">
		SELECT *
		FROM reply_extend
		WHERE discussion_id=#{discussionId}
	</select>
	
	<resultMap id="reply" type="Reply">
		<id column="id" property="replyId"/>
		<result column="discussion_id" property="discussionId"/>
		<result column="user_id" property="posterId"/>
		<result column="user_name" property="posterName"/>
		<result column="time" property="time"/>
		<result column="content" property="content"/>
	</resultMap>
	
</mapper>