<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.TestMapper">
	<insert id="addTest" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO test_table(start_time,end_time,name,course_id)
		VALUES(#{startTime},#{endTime},#{name},#{courseId});
	</insert>
	
	<select id="queryTestByCourse" resultMap="test">
		SELECT *
		FROM test_extend
		WHERE course_id = #{courseId} 
	</select>
	
	<resultMap type="Test" id="test">
		<id column="id" property="testId"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="name" property="name"/>
		<result column="course_id" property="courseId"/>
		<result column="test_count" property="testCount"/>
		<result column="avg_score" property="avgScore"/>
	</resultMap>
	
	<insert id="addQuestion">
		INSERT INTO question_table(content,answer,test_id,score)
		VALUES(#{content},#{answer},#{testId},#{score});
	</insert>
	<select id="getQuestionList" resultMap="question">
		SELECT *
		FROM question_table
		WHERE test_id = #{testId} 
	</select>
	
	<resultMap type="Question" id="question">
		<id column="id" property="questionId"/>
		<result column="content" property="content"/>
		<result column="answer" property="answer"/>
		<result column="test_id" property="testId"/>
		<result column="score" property="score"/>
	</resultMap>
	<insert id="addScore">
		INSERT INTO score_table(test_id,student_id,score,every_score)
		VALUES(#{testId},#{studentId},#{score},#{everyScore});
	</insert>
	<select id="queryScore" resultMap="score">
		SELECT *
		FROM score_table
		WHERE test_id = #{test_id} and student_id = #{student_id} 
	</select>
	<resultMap type="Score" id="score">
		<id column="id" property="scoreId"/>
		<result column="student_id" property="studentId"/>
		<result column="test_id" property="testId"/>
		<result column="score" property="score"/>
		<result column="every_score" property="everyScore"/>
	</resultMap>
	<select id="getStudentList" resultType="String">
		SELECT student_id
		FROM score_table
		WHERE test_id = #{testId}
	</select>
	
	<select id="queryTestComplited" resultType="String">
	 SELECT student_id 
	 FROM score_table
	 WHERE test_id=#{testId}
	</select>
	
	<select id="studentQueryScore" resultType="String">
		SELECT s.score
		FROM test_table t, score_table s
		WHERE t.course_id=#{courseId} and s.test_id=t.test_id and s.student_id=#{studentId}
	</select>
	
	<select id="queryScoreByTest" resultMap="score">
		SELECT *
		FROM score_table
		WHERE test_id=#{testId}
	</select>

</mapper>