<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.UserMapper">


	<insert id="addUser">
		INSERT INTO user_table
		VALUES(#{id},#{password},#{type},#{name},#{sex},#{iconPath});
	</insert>

	<delete id="deleteUser">
		DELETE FROM user_table
		WHERE id=#{id}
	</delete>

	<update id="updateUserName">
		UPDATE user_table
		SET name=#{name}
		WHERE id=#{id}
	</update>

	<update id="updateUserPassword">
		UPDATE user_table
		SET password=#{password}
		WHERE
		id=#{id}
	</update>

	<select id="login" resultMap="user">
		SELECT *
		FROM user_table
		WHERE id =
		#{account} AND password = #{password}
	</select>

	<select id="queryUser" resultMap="user">
		SELECT *
		FROM user_table
		WHERE
		id
		= #{id}
	</select>
	
	<select id="queryStudentByCourse" resultMap="user">
		SELECT *
		FROM user_table
		WHERE id IN (SELECT student FROM course_student WHERE course=#{courseId})
	</select>
	
	<select id="queryStudentByTest" resultMap="user">
		SELECT *
		FROM user_table
		WHERE id IN (SELECT student_id FROM score_table WHERE test_id=#{testId})
	</select>

	<resultMap type="User" id="user">
		<id column="id" property="userId" />
		<result column="password" property="password" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="sex" property="sex" />
		<result column="icon_path" property="iconPath" />
	</resultMap>




</mapper>